{% extends "base.html" %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "aboutus.css" %}">
{% endblock %}
{% block title %}
about us
{% endblock %}
{% block content %}
 <section class="about-us">
    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <h2>About Us</h2>
        <h5>python backend developer<span>interest to code 👨‍💻</span></h5>
          <p>my name is hosein i born in ahwaz and i live there i love to code and learn more things about coding and it`s journeys and challenges this is one of my sample works i hope you enjoy it </p>
        <div class="data">
        </div>
      </div>
    </div>
  </section>




{% endblock %}